.history-container {
  border: 1px solid #e7eaf3;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.2rem #bdc5d133;

  &__title {
    padding: 10px 20px;
    border-bottom: 1px solid #e7eaf3;
  }

  &__body {
    padding: 10px 20px;
  }
}
