.container-auth {
  background-color: #1890ff;

  .container-auth__card {
    width: 350px;
  }
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.required {
  &::before {
    content: '*';
    color: red;
    margin-right: 5px;
  }
}
